.container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}

h1 {
  margin-left: 45%;
  margin-right: 45%;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

header {
  background-color: #5B9676;
  text-align: center;
  padding: 20px;
  position: relative;
}

h1.title {
  color: #ffffff;
  font-size: 100px;
  margin: 0;
}

body {
  text-align: center;
  font: 25px Georgia, sans-serif;
  line-height: 1.6;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #F8F8F0;
}

header {
  background-color: #5B9676;
  text-align: center;
  padding: 20px;
  position: relative;
}

h1.title {
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  text-decoration: underline;
}


nav li {
  display: inline;
  margin: 0 20px;
}


nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}


nav a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  padding: 40px;
  background-color: #236154;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #000000;
  margin-top: 30px;
}


footer a:link,
footer a:visited {
  margin-right: 20px;
  color: #000000;
  transition: color 0.3s;
}


footer a:hover,
footer a:focus,
footer a:active {
  color: #ffffff;
}


.page-wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 4%;
}

.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Main>section {
  width: 900px;
}

.Main img {
  max-width: 100%;
}

.Appitizers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Appitizers>section {
  width: 45%;
}

.Appitizers img {
  max-width: 100%;
}

.Sides {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Sides>section {
  width: 45%;
}
.Sides img {
  max-width: 100%;
}

<<<<<<< HEAD
#bacon-sweetheart{ 

=======
.Desserts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
>>>>>>> 49022de53b7656727e94f3bf74f3f579d78ecf9b
}

.Desserts>section {
  width: 45%;
}

.Desserts img {
  max-width: 100%;
}

.Main img,
.Appitizers img,
.Sides img,
.Desserts img {
  max-width: 100%;
  width: 600px; /* Set your desired width */
  height: 400px; /* Set your desired height */
}


