
h1 {
  margin-left: 45%;
  margin-right: 45%;
}

header {
  background-color: #5B9676;
  text-align: center;
  padding: 20px;
  position: relative;
}

h1.title {
  color: #ffffff;
  font-size: 100px;
  margin: 0;
}

body {
  text-align: center;
  font: 25px Georgia, sans-serif;
  line-height: 1.6;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #F8F8F0;
  border: 5px solid #236154;
}

header {
  background-color: #5B9676;
  text-align: center;
  padding: 20px;
  position: relative;
}

h1.title {
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  text-decoration: underline;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 40px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #236154;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  max-width: 100%;
}

footer a:link,
footer a:visited {
  margin-right: 20px;
  color: #ffffff;
  transition: color 0.3s;
}

footer a:hover,
footer a:focus,
footer a:active {
  color: #ffffff;
}

.page-wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 4%;
  border-radius: 10px;
  border: 2px solid #5B9676;
}

#chickennug {
  width: 90%;
  border: 5px solid #5B9676;
}

.Favorites img {
  max-width: 100%;
}

.Favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Favorites>section {
  width: 18%;
  border: 30px solid #5B9676;
}

.Favorites>h1 {
  width: 100%;
}

.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Main>section {
  width: 900px;
}

.Main img {
  max-width: 100%;
}

.Appitizers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Appitizers>section {
  width: 45%;
}

.Appitizers img {
  max-width: 100%;
}

.Sides {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Sides>section {
  width: 45%;
}

.Sides img {
  max-width: 100%;
}

.Desserts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Desserts>section {
  width: 45%;
}

.Desserts img {
  max-width: 100%;
}

.Main img,
.Appitizers img,
.Sides img,
.Desserts img {
  max-width: 100%;
  width: 600px;
  height: 400px;
}

img {
  border: 10px solid #5B9676;
}